@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50%;
}

.modal-content {
  padding: 2em 3em 2em 3em;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal-content h2 {
  text-transform: uppercase;
  letter-spacing: 1em;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal-content p {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 2em;
}
